name: Valid project

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write

env:
  CARGO_TERM_COLOR: always

jobs:
  benchmark:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install LLVM 21
        run: |
          wget https://apt.llvm.org/llvm.sh
          chmod  x llvm.sh
          sudo ./llvm.sh 21
          sudo apt-get install -y libpolly-21-dev
          rm ./llvm.sh

      - name: Setup Rust toolchain and cache
        uses: Swatinem/rust-cache@v2

      - name: Build project
        run: |
          cargo build
